#!ipxe

# Some menu defaults
set menu-timeout 15000
set submenu-timeout ${menu-timeout}
isset ${menu-default} || set menu-default reboot
isset ${submenu-default} || set submenu-default back

# Figure out if client is 64-bit capable
cpuid --ext 29 && set arch x64 || set arch x86
cpuid --ext 29 && set archl amd64 || set archl i386

###################### MAIN MENU ####################################

:start
menu iPXE boot menu for ${net0/ip} - ($arch:archl - ${platform})
item --gap --             ------------------------- Operating Systems ------------------------------
item --key l menu-linuxmint    (L) Linux Mint 21.3 XFCE...
item --key w menu-windows      (W) Microsoft Windows 10...
item --gap --             ------------------------- Tools and utilities ----------------------------
item --key m memtest      (M) Run Memtest86+ v7.00
item --gap --             ------------------------- Advanced options -------------------------------
item --key c config       (C) Configure settings
item shell                Drop to iPXE shell
item reboot               Reboot computer
item
item --key x exit         (X) Exit iPXE and continue ${platform} boot
choose --timeout ${menu-timeout} --default ${menu-default} selected || goto cancel
set menu-timeout 0
goto ${selected}

:cancel
echo You cancelled the menu, dropping you to a shell

:shell
echo Type 'exit' to get the back to the menu
shell
set menu-timeout 0
set submenu-timeout 0
goto start

:failed
echo Booting failed, dropping to shell
goto shell

:reboot
reboot

:exit
exit

:config
config
goto start

:back
set submenu-timeout 0
clear submenu-default
goto start

############ OSes ############

#:linuxmint
#chain --autofree --replace http://192.168.0.1/mint/mint.ipxe || goto failed
#goto start
{% include 'mint.ipxe.j2' %}

#:windows
#chain --autofree --replace http://192.168.0.1/win10/win10.ipxe || goto failed
#goto start
{% include 'win10.ipxe.j2' %}

############ TOOLS ############

{% include 'memtest.ipxe.j2' %}