# this file is included in menu.ipxe:
# no need to have shebang on top

# NOTE: DO NOT REUSE key ALREADY DEFINED IN menu.ipxe

###################### Linux Mint MENU ####################################

:menu-linuxmint
menu iPXE boot menu for ${net0/ip} - ($arch:archl - ${platform})
item --gap --                       -------------- Linux Mint 21.3 XFCE - PCOfficina remix -------------------
item --key 0x107e mint-live         (F5) Boot Live
item --key 0x127e mint-live-compat  (F6) Boot Live - Compatibility Mode
item --key 0x137e  mint-install     (F7) Install Unattended
item --key 0x147e  mint-install-oem      (F8) Install (OEM) Unattended

# ref. https://ipxe.org/cmd/item

item
item --key 0x08 back      Back to top menu...
###iseq ${menu-default} menu-linuxmint && isset ${submenu-default} && goto menu-linuxmint-timed ||
choose selected && goto ${selected} || goto start
###:menu-linuxmint-timed
###choose --timeout ${submenu-timeout} --default ${submenu-default} selected && goto ${selected} || goto start

############ OSes ############

:mint-live
initrd http://{{ lan_ip }}/{{ linuxmint_dir }}/iso/casper/initrd.gz
boot http://{{ lan_ip }}/{{ linuxmint_dir }}/iso/casper/vmlinuz initrd=initrd.gz boot=casper netboot=nfs ip=dhcp nfsroot={{ lan_ip }}:{{ os_basedir_linuxmint }}/iso fsck.mode=skip nosplash username=pco hostname=pcolive --
boot || goto failed
goto start

:mint-live-compat
initrd http://{{ lan_ip }}/{{ linuxmint_dir }}/iso/casper/initrd.gz
boot http://{{ lan_ip }}/{{ linuxmint_dir }}/iso/casper/vmlinuz initrd=initrd.gz boot=casper netboot=nfs ip=dhcp nfsroot={{ lan_ip }}:{{ os_basedir_linuxmint }}/iso fsck.mode=skip nosplash username=pco hostname=pcolive noapic noacpi irqpoll nomodeset --
boot || goto failed
goto start

:mint-install
initrd http://{{ lan_ip }}/{{ linuxmint_dir }}/iso/casper/initrd.gz
boot http://{{ lan_ip }}/{{ linuxmint_dir }}/iso/casper/vmlinuz initrd=initrd.gz url=http://{{ lan_ip }}/{{ linuxmint_dir }}/production-ubiquity.seed boot=casper netboot=nfs ip=dhcp nfsroot={{ lan_ip }}:{{ os_basedir_linuxmint }}/iso fsck.mode=skip nosplash automatic-ubiquity --
boot || goto failed
goto start

:mint-install-oem
initrd http://{{ lan_ip }}/{{ linuxmint_dir }}/iso/casper/initrd.gz
boot http://{{ lan_ip }}/{{ linuxmint_dir }}/iso/casper/vmlinuz initrd=initrd.gz url=http://{{ lan_ip }}/{{ linuxmint_dir }}/oem-ubiquity.seed boot=casper netboot=nfs ip=dhcp nfsroot={{ lan_ip }}:{{ os_basedir_linuxmint }}/iso fsck.mode=skip nosplash automatic-ubiquity --
boot || goto failed
goto start
