[global]
        bind interfaces only = yes
        interfaces = {{ lan_ip }}

        workgroup = ESG42
        security = user
        passdb backend = tdbsam

        map to guest = Bad User
        log file = /var/log/samba/%m
        log level = 1

        server role = standalone server
        acl allow execute always = True

[win10]
        path = {{ os_basedir }}/win10/
        browseable = yes
        read only = yes
        guest only = yes
        guest ok = yes
