server {
       listen {{ network_lan_ip }}:80 default_server;
       # listen [::]:80 default_server;

       server_name _;

       root {{basepath_dir}};
       # index index.html;

       location / {
		autoindex on;
		try_files $uri $uri/ =404;
       }
}
